/node_modules/
/public/assets/plugins/
/public/assets/plugins/
/public/hot
/public/storage
/storage/*.key
/vendor/
/storage/app/public/
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea/
